@import "../variables.scss";

.logo {
  display: flex;
  flex-flow: nowrap;
  width: auto;
  height: 100px;
  padding: 15px;
}

.tagline {
  display: flex;
  padding: 10px;
  margin: 10px;
  justify-content: flex-start;
}

li:nth-child(2) {
  justify-content: end;
}

.home {
  padding-top: 70px;
}
