@import "../variables.scss";

.gametitle {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.detailsimage {
  padding: 15px;
  width: 80%;
  height: auto;
}

@media (min-width: 576px) {
  .container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .left {
    flex: 1;
    padding: 10px;
  }

  .right {
    flex: 1;
    padding: 10px;
  }
}
