@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=IBM+Plex+Sans:wght@300&display=swap");
$white: #ffffff;
$ultimate-grey: hsl(210deg, 2%, 58%);
$lighter-grey: #b9babc;
$black: #010203;
$mono: "IBM Plex Mono", monospace;
$sans: "IBM Plex Sans", sans-serif;

li {
  list-style: none;
}

.button {
  margin-left: 1rem;
}

.grid {
  display: grid;
  grid-gap: 1rem;
}

@supports (width: min(30%, 100%)) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(min(30%, 100%), 1fr));
  }
}

// for cards

.dropshadow {
  filter: drop-shadow(1px 2px 4px hsl(210deg, 2%, 58%));
}

.box {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardthumb {
  display: flex;
  width: 30%;
  height: auto;
}

.detailsimage {
  display: flex;
  width: 50%;
}

.container {
  display: flex;
}

.left {
  flex: 1;
  padding: 1rem;
}

.right {
  flex: 1;
  padding: 1rem;
}

.hex {
  position: absolute;
  left: 5px;
  display: flex;
  margin: 0 auto;
  width: 50px;
  height: 43.3px; /* width * 0.866 */
  background: $lighter-grey;
  -webkit-clip-path: polygon(
    0% 50%,
    25% 0%,
    75% 0%,
    100% 50%,
    75% 100%,
    25% 100%
  );
  -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
  & img {
    // position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-clip-path: polygon(
      0% 50%,
      25% 0%,
      75% 0%,
      100% 50%,
      75% 100%,
      25% 100%
    );
    -moz-clip-path: polygon(
      0% 50%,
      25% 0%,
      75% 0%,
      100% 50%,
      75% 100%,
      25% 100%
    );
  }
}
li {
  padding: 10px;
  margin: 20px;
}

svg {
  margin-left: 5px;
}
