@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=IBM+Plex+Sans:wght@300&display=swap");

$white: #ffffff;
$ultimate-grey: hsl(210deg, 2%, 58%);
$lighter-grey: #b9babc;
$black: #010203;
$mono: "IBM Plex Mono", monospace;
$sans: "IBM Plex Sans", sans-serif;

button {
  border-radius: 5px;
}
body {
  background-color: $white;
  font-family: $sans;
}

.header {
  p {
    color: $black;
    margin-top: 0;
  }
}
