@import "../../variables.scss";

a :not(h1) {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}
.grid {
  display: grid;
}

.grid {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.dropshadow {
  filter: drop-shadow(1px 2px 4px hsl(210deg, 2%, 58%));
}

.box {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardthumb {
  display: flex;
  height: auto;
}
